* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    -ms-overflow-style:none;
    overscroll-behavior-y: none;
    overscroll-behavior: none;
}

::-webkit-scrollbar, ::-webkit-scrollbar-button {
  display: none;
}

/* navigation: header */

#canvas {
    position: fixed;
    z-index:2;
    top: 0px;
    left: 0px;
    width: calc(100% - 20px);
    max-width: 1200px;
}

/* navigation: about */

.about {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-family: sans-serif;
    font-size: 20;
     z-index:3;
}

a.about, a.about:visited {
    color: black;
}

.block a, a.about:hover {
    color: blue;
}

/* endless scroll feed */

#feed-container {
  width: 100%;  
}

#feed-container {
    padding-top: 700px;
    padding-bottom: 700px;
}

#feed {
    /* padding-top: 100px; */
    width: calc(100% - 40px);
    max-width: 700px;
    margin: 0 auto;
}

.feed-item {
    width: 100%;
    height: 100vh;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feed-item img,
.text-container {
    width: 100%;
}

.feed-item img {
    display: block;
    height: auto;
}

.feed-item .text-container {
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 15% 15% 15% 15%;
    min-height: 60%;
    min-width: 70%;
    max-width: 100%;
    align-content: center;
    text-align: justify;
}

/* about */

#about-content {
    display: flex;
    flex-direction: column;
    padding: 50px;
    padding-top: 100px;
    z-index: 3;
}

#about-content .block {
    margin-bottom: 40px;
}

#about-content .block p {
    margin-bottom: 20px;
}


/* Media Queries */


@media (max-width: 750px) {

    .feed-item .text-container {
        padding: 100px;
    }

    .about {
        font-size: 18px;
    }

}
